.action-sheets-basic-page{
    .ion-md-share{
        color: red;
    }
    .ion-md-droplight-circle{
        color: cornflowerblue;
    }
    .ion-md-heart-outline {
        color: chartreuse;
      }
      .action-sheet-cancel ion-icon,
      .action-sheet-destructive ion-icon {
        color: gray;
      }
}